<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <!-- <div class="split left">
        <div class="centered">
            <h1>Sensor type config form</h1>

            <form action = "/install_sensortype" method = "POST">
                <label for="Sensor_Name">sensor_type</label><br>
                <input type="text" id="Sensor_Name" name="sensor_type"><br>
                
                <label for="tof">output_type</label><br>
                <input type="text" id="tof" name="output_type"><br>

                <input type="submit" value="Submit">

             </form>

        </div>
      </div> -->


      <div class="split right">
        <div class="centered">
            <h1>Sensor instance config form</h1>

            <form action = "/install_sensorins" method = "POST">
                <label for="Sensor_Name">sensor_type</label><br>
                <input type="text" id="Sensor_Name" name="sensor_type"><br>
                <label for="loc">Location:</label><br>
                <input type="text" id="loc" name="location"><br>
                <label for="ip">IP</label><br>
                <input type="text" id="ip" name="ip"><br>
                <label for="port">Port</label><br>
                <input type="text" id="Port" name="port"><br>
                <input type="submit" value="Submit">

             </form>
        </div>
      </div> 

</body>

</html>